<head>
	<title>Spyder Submission Details</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>

</head>

{% extends "base.html" %}

{% block body %}

<!--Page content-->
<div class="container mt-5">

	<h1 class="title">Spyder Details </h1>
  <h2 class="title">Pending </h2>
  <table>
      <tr>
          <th>Project</th>
          <th>Spider</th>
          <th>ID</th>
          <th>URL</th>
          <th>Schdeuled Time</th>
      </tr>
      {% for running in runningDict %}
          <tr>
              <td>{{ running.project }}</td>
              <td>{{ running.spider }}</td>
              <td>{{ running.id }}</td>
          </tr>
      {% endfor %}  

  </table>
  
  <h2 class="title">Running </h2>
  <table>
      <tr>
          <th>Project</th>
          <th>Spider</th>
          <th>ID</th>
          <th>URL</th>
          <th>Schdeuled Time</th>
      </tr>
      {% for running in runningDict %}
          <tr>
              <td>{{ running.project }}</td>
              <td>{{ running.spider }}</td>
              <td>{{ running.id }}</td>
          </tr>
      {% endfor %}  

    </table>

  <h2 class="title">Completed </h2>

  <table>
      <tr>
          <th>Project</th>
          <th>Spider</th>
          <th>ID</th>
          <th>URL</th>
      </tr>  
      {% for finished in finishedDict %}
          <tr>
              <td>{{ finished.project }}</td>
              <td>{{ finished.spider }}</td>
              <td>{{ finished.id }}</td>
          </tr>
      {% endfor %}
    </table>
    
</div>

{% endblock %}
