<head>
	<title>Data Transfer</title>
</head>

{% extends "base.html" %}

{% block body %}

<!--Page content-->
<div class="container mt-5">

	<!-- Features section-->
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-6"><!-- mb-5 mb-lg-0">-->
                <a href="/data_transfer/t_pot"><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div></a>
                <h2 class="h4 fw-bolder">From T-Pot</h2>
                <p>Initiate the file transfer process from the Debian machine hosting the T-pot to this machine.</p>
            </div>

            <div class="col-lg-6"><!-- mb-5 mb-lg-0">-->
                <a href="/data_transfer/smart_meter"><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-lg"></i></div></a>
                <h2 class="h4 fw-bolder">From Smart Meter</h2>
                <p>Initiate the file transfer process from the Windows machine hosting the Smart Meter to this machine.</p>
            </div>
        </div>
    </div>
    
	<h1>Select one or more files</h1>
	<div class="mb-3">
		<label for="formFileMultiple" class="form-label">Multiple files input example</label>
		<input class="form-control" type="file" id="formFileMultiple" multiple>
	</div>
	<div>
	  <label for="formFileLg" class="form-label">Large file input example</label>
	  <input class="form-control form-control-lg" id="formFileLg" type="file">
	</div>
</div>

{% endblock %}
