<head>
	<title>Home</title>
</head>

{% extends "base.html" %}

{% block body %}

<!--Page content-->
<div class="container mt-5">
    <h1>Which module would you like to use?</h1>

	<!-- Features section-->
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-6"><!-- mb-5 mb-lg-0">-->
                <a href="/admin"><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-nut-fill"></i></div></a>
                <h2 class="h4 fw-bolder">Admin Config</h2>
                <p>Configure the settings for various modules running the SCFAMI subsystem.</p>
            </div>

            <div class="col-lg-6"><!-- mb-5 mb-lg-0">-->
                <a href="/data_transfer"><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div></a>
                <h2 class="h4 fw-bolder">Data Transfer</h2>
                <p>Initiate the file transfer process from another computer to Analyst machine.</p>
            </div>

            <div class="col-lg-6"><!-- mb-5 mb-lg-0">-->
                <a href="/app_launch"><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-play-fill"></i></div></a>
                <h2 class="h4 fw-bolder">App Launch</h2>
                <p>Parses files from the Data Transfer module using Arkime.</p>
            </div>

            <div class="col-lg-6"><!-- mb-5 mb-lg-0">-->
                <a href="/help"><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-lg"></i></div></a>
                <h2 class="h4 fw-bolder">Help</h2>
                <p>Display some useful information.</p>
            </div>

            <div class="col-lg-6"><!-- mb-5 mb-lg-0">-->
                <a href="/spyder"><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-lg"></i></div></a>
                <h2 class="h4 fw-bolder">Spyder</h2>
                <p>Spyder.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
