<head>
	<title>Config App Launch</title>
</head>

{% extends "base.html" %}

{% block body %}

<!--Page content-->
<div class="container mt-5">
	<h1>Configure Applications To Launch</h1>

	<div class="mb-3">
		<h5 class="form-label">Configure your admin settings for Arkime here!</h5>
		<form action="/admin/app_launch" method="POST">
			<div>{{ form.arkime_user.label }}: {{ form.arkime_user }}</div>
			<div>{{ form.arkime_password.label }}: {{ form.arkime_password }}</div>
			<button class="btn btn-primary" type="submit">Update Config</button>
		</form>
	</div>
</div>

{% endblock %}
