<head>
	<title>Spyder</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            //var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
            $('form#github').submit(function(event) {
                console.log("NYE");

                valid = true

                var values = [];
                $('form input:text').each(
                    function() {
                    if (values.indexOf(this.value) >= 0) {
                        $(this).css("border-color", "red");
                        // console.log(this.after('<p>Phone number has to be 10 digits long.</p>'));
                        this.after('Duplicate values exists.')
                        //div.classList.remove("hide");
                        valid = false;
                        return valid;
                    } else {
                        $(this).css("border-color", ""); //clears since last check
                        values.push(this.value);
                    }
                    }
                );
                return valid;
            });
        });

    </script>
</head>

{% extends "base.html" %}

{% block body %}

<!--Page content-->
<div class="container mt-5">

	<h1 class="title">Submit Github URLs</h1>

    <form class="form" id="github" action="/submit" method="post" name="submit_git_URLs">
      <!-- <div class="field">
        <label for="title" class="label">Input 1</label>
        <div class="control">
          <input id=githubURL1 type="text" name="githubURL1" class="input" required="required"/>
        </div>
        <div class="githubURL1-error hide">
          Duplicate value detected
        </div>
      </div>

      <div class="field">
        <label for="year" class="label">Input 2</label>
        <div class="control">
          <input id=githubURL2 type="text" name="githubURL2" class="input"/>
        </div>
        <div class="githubURL2-error hide">
          Duplicate value detected
        </div>
      </div>


      <div class="field">
        <label for="year" class="label">Input 3</label>
        <div class="control">
          <input id=githubURL3 type="text" name="githubURL3" class="input"/>
        </div>
        <div class="githubURL3-error hide">
          Duplicate value detected
        </div>
      </div>

      <div class="field">
        <label for="year" class="label">Input 4</label>
        <div class="control">
          <input id=githubURL4 type="text" name="githubURL4" class="input"/>
        </div>
        <div class="githubURL4-error hide">
          Duplicate value detected
        </div>
      </div>

      <div class="field">
        <label for="year" class="label">Input 5</label>
        <div class="control">
          <input id=githubURL5 type="text" name="githubURL5" class="input"/>
        </div>
        <div class="githubURL5-error hide">
          Duplicate value detected
        </div>
      </div> -->

      <div class="field">
        <div class="row mb-3 align-item-center">
          <label for="formGroupEampleInput" class="form-label" id="username">Input 1</label>
          <input type="text" class="form-control" id="githubURL1" name="githubURL1" placeholder="Github URL" required>
          <div class="username-error"></div>
        </div>
      </div>

      <div class="field">
        <div class="row mb-3 align-item-center">
          <label for="formGroupEampleInput" class="form-label" id="username">Input 2</label>
          <input type="text" class="form-control" id="githubURL2" name="githubURL2" placeholder="Github URL" required>
          <div class="username-error"></div>
        </div>
      </div>

      <div class="field">
        <div class="row mb-3 align-item-center">
          <label for="formGroupEampleInput" class="form-label" id="username">Input 3</label>
          <input type="text" class="form-control" id="githubURL3" name="githubURL3" placeholder="Github URL" required>
          <div class="username-error"></div>
        </div>
      </div>

      <div class="field">
        <div class="row mb-3 align-item-center">
          <label for="formGroupEampleInput" class="form-label" id="username">Input 4</label>
          <input type="text" class="form-control" id="githubURL4" name="githubURL4" placeholder="Github URL" required>
          <div class="username-error"></div>
        </div>
      </div>

      <div class="field">
        <div class="row mb-3 align-item-center">
          <label for="formGroupEampleInput" class="form-label" id="username">Input 5</label>
          <input type="text" class="form-control" id="githubURL5" name="githubURL5" placeholder="Github URL" required>
          <div class="username-error"></div>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="btn btn-primary" id=submit type="submit">text here</button>
        </div>
      </div> 
      
    </form>
</div>

{% endblock %}
