<head>
	<title>Submit Job</title>
</head>

{% extends "base.html" %}

{% block body %}

<!--Page content-->
<div class="container mt-5">
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
		<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
			<span>{{message}}</span> 
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}
	{% endif %}
	{% endwith %}

	<h1>Submit URL</h1>

	<div class="mb-3">
		<h5>Submit a URL for a Spider to crawl for YARA rules here.</h5>
		<form action="/spider/submit_job" method="POST">
			{{ form.csrf_token }}
			{{ form.url.label }} 
			{{ form.url(class="form-control") }}

			<p>
			Number of running spiders are:
			{{ runningJobs }} 
			</p>

			<p>
			{{ form.scrapingDepth.label() }}
			{{ form.scrapingDepth() }}
			</p>

			<p>
			{{ form.spiderChoice.label() }}
			{{ form.spiderChoice() }}
			</p>

			<p>
			<input class="btn btn-primary" type="submit" value="Submit">
		  </p>
		</form>
	</div>
</div>

{% endblock %}
