<head>
	<title>App Launch</title>
</head>

{% extends "base.html" %}

{% block body %}

<!--Page content-->
<div class="container mt-5">
	<h1>Which application to launch?</h1>

	<!-- Features section-->
	<div class="container px-5 my-5">
		<div class="row gx-5">
			<div class="col-lg-6">
				<a href="/app_launch/local_apps"><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-ubuntu"></i></div></a>
				<h2 class="h4 fw-bolder">Local Applications</h2>
				<p>Launch local applications for file analysis.</p>
			</div>
			<div class="col-lg-6">
				<a href="/app_launch/arkime"><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-menu-app"></i></div></a>
				<h2 class="h4 fw-bolder">Arkime Views</h2>
				<p>Open Arkime Views on the browser.</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
