<head>
	<title>Arkime Filters</title>
</head>

{% extends "base.html" %}

{% block body %}

<!--Page content-->
<div class="container mt-5">
	<h1>Arkime Filters</h1>

	<div class="mb-3">
		<label for="formFileLg" class="form-label">Launch <b>Arkime View Filters</b> here.</label><br />
		{% for filter,url in arkime_filters.items() %}
		<button class="btn btn-{{ style[loop.index%5] }}" onclick="open_arkime_filter(this)" value="{{url}}">{{filter|title}}</button>			
		{% if loop.index%5 == 0 %}<br /><br />{% endif %}
		{% endfor %}
	</div>
</div>

{% endblock %}
