<head>
	<title>Local Applications</title>
</head>

{% extends "base.html" %}

{% block body %}

<!--Page content-->
<div class="container mt-5">
	<h1>Local Applications</h1>

	<div class="mb-3">
		{% if app_list %}
		<h5>Choose to open a user-installed application below.</h5>
		<form action="/app_launch/local_apps" method="POST">
			{% for app in app_list %}
			<button class="btn btn-{{ style[loop.index%5] }}" type="submit" name="action" value="{{ app }}">{{ app|title }}</button>
			{% if loop.index%5 == 0 %}<br /><br />{% endif %}
			{% endfor %}
			<!--<button class="btn btn-primary" type="submit" name="action" value="wireshark">Wireshark</button>
			<button class="btn btn-danger" type="submit" name="action" value="filezilla">FileZilla Client</button>-->
		</form>
		{% else %}
		<label for="formFileLg" class="form-label">No user-installed application has been detected.</label><br />
		{% endif %}
		{% if message %}
		<p>Cannot find <span style="color:red;">{{ message|title }}</span>. Is it installed?</p>
		{% endif %}
	</div>
</div>

{% endblock %}
