<head>
	<title>Data Transfer</title>
</head>

{% extends "base.html" %}

{% block body %}

<!--Page content-->
<div class="container mt-5">
	{% if message[0] == 0 %}
	<h1>No downloads!</h1>
	<p><b>No file</b> is downloaded. Please choose different parameters.</p>
	{% else %}
	<h1>Download Success!</h1>
	<p>
		{% if message[0] == 1 %}
		<b>1 file</b> is downloaded to <b>{{ message[2] }}</b>.
		{% else %}
			<b>{{ message[0] }} files</b> are downloaded to a folder named "<b>{{ message[1] }}</b>" in <b>{{ message[2] }}</b>.
		{% endif %}
	</p>
	{% endif %}
	<p>Click here to <a href="/data_transfer/smart_meter">transfer Smart Meter files</a> again.</p>
</div>

{% endblock %}
