<head>
	<title>Manage Jobs</title>
</head>

{% extends "base.html" %}

{% block body %}

<!--Page content-->
<div class="container mt-5">
	<h1>Manage Jobs</h1>

	<div class="mb-3">
		{% if job_list is string %}
		<h5 class="form-label">Your Host User is unidentified.</h5>
		<p>Click here to <a href="/admin/data_transfer">validate your username</a>.</p>

		{% elif job_list %}
		<h5 class="form-label">Manage your scheduled jobs here!</h5>
		<input type="text" id="jobs_search" onkeyup="search_jobs_table()" placeholder="Search for meters...">
		<table id="jobs_table">
			<thead>
				<tr>
					<th onclick="sort_jobs_table(0)">Job ID</th>
					<th onclick="sort_jobs_table(1)">Job Name</th>
					<th onclick="sort_jobs_table(2)">Job Schedule</th>
					<th onclick="sort_jobs_table(3)"><span>Data Start Time</span></th>
					<th onclick="sort_jobs_table(4)"><span>Data End Time</span></th>
					<th onclick="sort_jobs_table(5)"><span>Data Source</span></th>
					<th onclick="sort_jobs_table(6)"><span>Meters (if any)</span></th>
					<th onclick="sort_jobs_table(7)"><span>Active?</span></th>
					<th><span>Action</span></th>
				</tr>
			</thead>
			<form action="/data_transfer/manage_jobs" method="POST">
				<tbody>
					{% for job in job_list %}
					<tr>
						<td>{{ job["id"] }}</td>
						<td>{{ job["name"] }}</td>
						<td><span>{{ job["sched_desc"] }}</td>
						<td><span>{{ job["start_time"] }}</span></td>
						<td><span>{{ job["end_time"] }}</span></td>
						<td><span>{{ job["data_source"] }}</span></td>
						<td><span>{{ job["meters"] }}</span></td>
						<td
						{% if job["enabled"] == "#" %}style="background-color:red; color:white">No
						{% else %}style="background-color:green; color:white">Yes</td>{% endif %}
						</td>
						<td>
							<li class="nav-item dropdown" style="list-style-type: none;">
								<button id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="nav-link dropdown-toggle btn btn-primary">Action</button>
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="width:0px;">
									<li>
										{% if job["enabled"] == "#" %}
										<button class="btn btn-success" type="submit" name="action" value="enable_{{ job['id'] }}">Enable</button>
										{% else %}
										<button class="btn btn-warning" type="submit" name="action" value="disable_{{ job['id'] }}">Disable</button>
										{% endif %}
										<button class="btn btn-danger" type="submit" name="action" value="delete_{{ job['id'] }}">Delete</button>
									</li>
							</ul>
							</li>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</form>
		</table><br />
		<p>Click here to <a href="/data_transfer/smart_meter">schedule another transfer</a> for Smart Meter files.</p>

		{% else %}
		<h5 class="form-label">No job has been scheduled.</h5>
		<p>Click here to <a href="/data_transfer/smart_meter">schedule a transfer</a> for Smart Meter files.</p>
		{% endif %}
	</div>
</div>

{% endblock %}
