<head>
	<title>Smart Meter</title>
</head>

{% extends "base.html" %}

{% block body %}

<!--Page content-->
<div class="container mt-5">    
	<h1>Smart Meter</h1>

		<div class="mb-3">
			<label for="formFileLg" class="form-label">Initiate Secure FTP connection to the <b>Smart Meter Windows machine</b> <i style="color:red;">(IP: <b>{{ip}}</b>)</i></label><br />
			<form action="/data_transfer/smart_meter" method="post">
				<button class="btn btn-primary" type="submit">
				{% if not file_dict %}Initiate FTP
				{% else %}Re-initiate FTP{% endif %}
				</button
			</form>
		</div>

	{% if file_dict %}
	<label for="formFileLg" class="form-label">Select one or more files from the <b>Smart Meter Windows machine</b>.</label><br />
	<form action="/data_transfer/smart_meter">
		{% for dir in file_dict %}
			{% for file in file_dict[dir] %}
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="{{ dir ~':'~ file }}" id="{{dir ~'-'~ file}}" name="{{dir ~'-'~ file}}">
					<label class="form-check-label" for="{{dir ~'-'~ file}}">
						{{ dir ~": "~ file }}
					</label>
				</div>
			{% endfor %}
		{% endfor %}
		<button class="btn btn-primary" type="submit">Transfer File(s)</button>
	</form>
	{% endif %}
</div>

{% endblock %}
