<head>
	<title>Smart Meter</title>
</head>

{% extends "base.html" %}

{% block body %}

<!--Page content-->
<div class="container mt-5">
	<h1>Smart Meter</h1>

	<div class="mb-3">
		<h5 class="form-label">Choose a folder to initiate Secure FTP connection to the <b>Smart Meter Windows machine</b> <i style="color:red;">(IP: <b>{{ip}}</b>)</i></h5>
		<form action="/data_transfer/smart_meter" method="POST">
			<button class="btn btn-primary" type="submit" name="submit" value="SmartMeterData">
			{% if not dir_list or form.data_source.data != "SmartMeterData" %}
				SmartMeter Data
			{% else %}Re-initiate FTP{% endif %}
			</button>

			<button class="btn btn-info" type="submit" name="submit" value="WiresharkData">
			{% if not dir_list or form.data_source.data != "WiresharkData" %}
				Wireshark Data
			{% else %}Re-initiate FTP{% endif %}
			</button>

			<button class="btn btn-success" type="submit" name="submit" value="KEPServerEXData">
			{% if not dir_list or form.data_source.data != "KEPServerEXData" %}
				KEPServerEX Event Logs
			{% else %}Re-initiate FTP{% endif %}
			</button>

			<button class="btn btn-warning" type="submit" name="submit" value="WindowsEventData">
			{% if not dir_list or form.data_source.data != "WindowsEventData" %}
				Windows Event Logs
			{% else %}Re-initiate FTP{% endif %}
			</button>
		</form>
	</div>

	{% if dir_list %}
	<hr />
	<div class="mb-3">
		{% if form.data_source.data == "SmartMeterData" %}
		<h5 class="form-label">Specify the meters, date & time range to download <b>SmartMeter Data</b> files, or automate the process.</h5>
		{% elif form.data_source.data == "WiresharkData" %}
		<h5 class="form-label">Specify the date & time range to download <b>PCAP</b> files, or automate the process.</h5>
		{% elif form.data_source.data == "KEPServerEXData" %}
		<h5 class="form-label">Specify the date & time range to download <b>KEPServerEX Log</b> files, or automate the process.</h5>
		{% elif form.data_source.data == "WindowsEventData" %}
		<h5 class="form-label">Specify the date & time range to download <b>Windows Event Log</b> files, or automate the process.</h5>
		{% endif %}
		<form action="/data_transfer/smart_meter" method="POST">
			<div>
				<input type="hidden" name="data_source" value="{{ form.data_source.data }}">
				{{ form.data_source.label }}: {{ form.data_source.data }}
			</div>

			{% if form.data_source.data == "SmartMeterData" %}
			<div>
				<label>Select Meters:</label>
				{% for meter in meters %}
				<label style="margin: 0px 10px 0px 2px;">
					<input style="margin: 0px 0px 0px 0px;" type="checkbox" name="meters" value="{{ meter }}">
					{{ meter }}
				</label>
				{% endfor %}
			</div>
			{% elif form.data_source.data == "WiresharkData" %}
			<div>{{ form.wireshark_source.label }}:
				{% for source in form.wireshark_source %}
				<tr>
					<td>{{ source }}</td>
					<td>{{ source.label }}</td>
				</tr>
				{% endfor %}
			</div>
			{% elif form.data_source.data == "WindowsEventData" %}
			<div>{{ form.windowsevent_source.label }}:
				{% for source in form.windowsevent_source %}
				<tr>
					<td>{{ source }}</td>
					<td>{{ source.label }}</td>
				</tr>
				{% endfor %}
			</div>
			{% endif %}

			<div>{{ form.transfer_type.label }}:
				{% for type in form.transfer_type %}
				<tr>
					<td>{{ type }}</td>
					<td>{{ type.label }}</td>
				</tr>
				{% endfor %}
			</div>
			<div class="div_automate" style="visibility:hidden; display:none;">{{ form.transfer_freq.label }}:
				{% for freq in form.transfer_freq %}
				<tr>
					<td>{{ freq }}</td>
					<td>{{ freq.label }}</td>
				</tr>
				{% endfor %}
			</div>
			<div class="div_automate div_daily">{{ form.transfer_freq_time.label }} {{ form.transfer_freq_time }} every day.</div>
			<div class="div_automate div_weekly">{{ form.transfer_freq_week_time.label }} {{ form.transfer_freq_week_time }} on a
				{% for day in days_of_week %}
				<label style="margin: 0px 2px 0px 2px;">
					<input style="margin: 0px 0px 0px 0px;" type="checkbox" name="transfer_freq_week" value="{{ day }}">
					{{ day }}
				</label>
				{% endfor %}
				every week.
			</div>
			<div class="div_automate div_monthly">{{ form.transfer_freq_month_time.label }} {{ form.transfer_freq_month_time }} on the {{ form.transfer_freq_month }}day of every month.</div>
			<div class="div_now">{{ form.date.label }}: {{ form.date }}</div>
			<div>{{ form.start_time.label }}: {{ form.start_time }}</div>
			<div class="div_now">{{ form.end_time.label }}: {{ form.end_time }}</div>
			<div>{{ form.timezone_prefix.label }} ({{ form.timezone_value.label }}): {{ form.timezone_prefix }}{{ form.timezone_value }}</div>
			<div class="div_automate">{{ form.transfer_dur.label }}: {{ form.transfer_dur }}Minute</div>
			<div class="div_automate">{{ form.job_name.label }}: {{ form.job_name }}</div>
			<div>{{ form.submit(class="btn btn-primary") }}</div>
		</form>
	</div>
	{% endif %}
</div>

{% endblock %}
